@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --bb-bg-color: #333;
}

* {
    color: #ccc !important;
    font-family: 'Open Sans', sans-serif !important;
    color-scheme: dark light !important;
    background-color: transparent !important;
}


div.user-prefix {
    /* hide the text in this div
    but do not change the size, otherwise
    the tab button would be displayed
    in a weird place */
    color: transparent !important;
}

div.ghost {
    color: #888 !important;
}

body {
    background-color: #222 !important;
}

a {
    color: cornflowerblue !important;
}

#b_header {
    /* FIXME border-bottom: 1px solid #444 !important; */
    border-bottom: none !important;
    background-color: #222 !important;
    z-index: 3 !important;
}

#b_results>li {
    background-color: var(--bb-bg-color) !important;
    border-radius: 12px;
}

.b_active::after {
    background-color: #402dde !important;
    border-radius: 2px;
}

.b_scopebar>ul>li>a {
    color: #aaa !important;
}

cite {
    color: #58a02e !important;
}

#b_context {
    background-color: var(--bb-bg-color) !important;
    border-radius: 12px !important;
}

.b_searchboxForm {
    background-color: var(--bb-bg-color) !important;
}

.algoSlug_icon {
    padding: 3px 4px !important;
    color: #888 !important;
    border: none !important;
    background-color: #444 !important;
}

#b_results > li.b_algo.b_algoBorder.b_algo_feedback.b_snippetGobig.b_rcgbt_bg {
    background-color: var(--bb-bg-color) !important;
}

.openans_gradient_div {
    background: linear-gradient(to right, var(--bb-bg-color), #222) !important;
}

.df_alsoAskCard {
    border-color: #555 !important;
}

#b_results>li#mfa_root.fabcolapse {
    background-color: transparent !important;
}

#rs_lgw_list a {
    background-color: var(--bb-bg-color) !important;
    border-radius: 0 16px 16px 0 !important;
}

#brsv3 > ul > li > a {
    background-color: #222 !important;
}

div > div > a.na_ccw,
#na_ti > div > div > div.itm_cap.b_overflow.wimg,
#b_results > li > div > div.captionMediaCard > div {
    background-color: #2a2a2a !important;
}

#b_context > li > div > div > div.b_sideBleed.lite-entcard-ans > div.lite-entcard-exp.exp-rs {
    background-color: transparent !important;
}

#tob_rail_slide,
#tob_rail_container,
#b_context > li > div > div > div.b_sideBleed.lite-entcard-ans {
    background-color: transparent !important;
    border-radius: 4px;
    border: 1px solid var(--bb-bg-color) !important;
}

footer {
    background-color: var(--bb-bg-color) !important;
}

/*search */
.b_ds5 > .mfa_btn,
#sw_as > div,
#sw_as > div > div,
#sw_as > div > ul,
#sw_as > div > ul :active {
    background-color: var(--bb-bg-color) !important;
}

#sw_as > div > ul :hover {
    background-color: #444 !important;
    border-radius: 6px;
}

/* sing-in button */
input#id_a {
    background-color: var(--bb-bg-color);
    border: 1px solid #666;
    border-radius: 6px;
}

/*inline tab views*/
div.tab-head > div,
div.tab-head > div > ul,
div.tab-head > div > ul > li {
    background-color: var(--bb-bg-color) !important;
}

.lite-entcard-blk {
    background-color: #222 !important;
}

/*settings pane*/
#HBContent {
    background-color: var(--bb-bg-color) !important;
}

#sydwrap_wrapper {
    background-color: var(--bb-bg-color) !important;
}

.b_antiSideBleed.b_antiTopBleed {
    background-color: var(--bb-bg-color) !important;
}

#b_filterTabBar > a {
    background-color: var(--bb-bg-color) !important;
    border: 1px solid #666 !important;
}

#b_filterTabBar > a.selectedFilter {
    background-color: #444 !important;
}

#overlayPanel {
    background-color: var(--bb-bg-color) !important;
}
